#footer{
    margin-top: 30px;
    padding: 10px;
    color: #fff;
    background: #375a7f;
    position: absolute;
    bottom: 0px;
    width: 100%;
}

#footer p{
   margin-bottom: 0px ;
}
legend{
    margin-top: 10px;
}

.line{
    width: 100%;
    border: 1px solid #ffffff;
}

.descr{
    width: 60%;
}

.pagination{
    margin: 0 auto;

}

.search{
    display: flex;
}

.no-found{
    text-align: center;
    margin-top: 40px;
    width: 100%;
}
html, body {
    background-color: #222;
    color: #636b6f;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    margin: 0;
}



.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
    margin-top: 20%;
    transform: translateY(-50%);
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

.position{
    display: flex!important;
    justify-content: space-between;
}

.dropdown-menu{
    left:-64px!important;
}

.auth{
    margin: 0 auto;
}

.display-4{
    text-transform: uppercase;
}